html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bg_player, .bg_player_mask, body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

.interface, .music-playback-bar {
    z-index: 2;
}